<p id="notice"><%= notice %></p>

<p>
  <strong>Surname:</strong>
  <%= @ooya.surname %>
</p>

<p>
  <strong>Name:</strong>
  <%= @ooya.name %>
</p>

<p>
  <strong>Surname kana:</strong>
  <%= @ooya.surname_kana %>
</p>

<p>
  <strong>Name kana:</strong>
  <%= @ooya.name_kana %>
</p>

<p>
  <strong>Zip cd:</strong>
  <%= @ooya.zip_cd %>
</p>

<p>
  <strong>Address1:</strong>
  <%= @ooya.address1 %>
</p>

<p>
  <strong>Address2:</strong>
  <%= @ooya.address2 %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @ooya.tel %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @ooya.mobile %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @ooya.memo %>
</p>

<%= link_to 'Edit', edit_ooya_path(@ooya) %> |
<%= link_to 'Back', ooyas_path %>
